nav {
  background-color: $nav-bar-color;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  z-index: 2;
  height: $navbar-height;
  color: $title-font-color;
 

  .links {
    height: $navbar-height;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #page-title {
      font-size: $navbar-height - 20px;
      margin: 5px;
      padding: 10px;
      cursor: pointer; 
    }

    #search-bar {
      width: 300px;
      height: 40px;
      margin-right: 10px; 
      margin-top: 10px;
      background: $nav-bar-color;
      border: $title-font-color 2px solid;
      font-size: 10pt;
      color: $title-font-color;
      padding-left: 45px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      &:active,
      &:hover,
      &:focus {
        outline: none;
        background: white;
      }
    }

    .content-for-movie-selectors {
      display: flex;
      justify-content: space-between;
    }

    .movie-search-bar .icon {
      position: absolute;
      top: 40%;
      z-index: 1;
      margin-left: 20px;
      top: 20px;
      color: $title-font-color;
    }

    .movie-extension-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 10px;

      h2, p {
        font-size: 20px;

        &:hover {
          cursor: pointer;
        }
      }

      div.dropdown {
        position: relative;

        ul.dropdown-content {
          display: none;
          position: absolute;
          background-color: $main-background-color;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          font-family: Arial, Helvetica, sans-serif;
          
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  nav {
    height: 150px;;

    .links {
      flex-wrap: wrap;
      justify-content: center;
      
      .movie-search-bar .icon {
        display: none;
      }
    }
  }
}

