$font-size: 16px; 
$font-family: 'Blackout', cursive;
$title-font-color: #F64C72;



@import url(//db.onlinewebfonts.com/c/f82a69a125aa89da6962d40cd065a786?family=Blackout);
@font-face {font-family: "Blackout"; 
    src: url("//db.onlinewebfonts.com/t/f82a69a125aa89da6962d40cd065a786.eot"); 
    src: url("//db.onlinewebfonts.com/t/f82a69a125aa89da6962d40cd065a786.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/f82a69a125aa89da6962d40cd065a786.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/f82a69a125aa89da6962d40cd065a786.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/f82a69a125aa89da6962d40cd065a786.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/f82a69a125aa89da6962d40cd065a786.svg#Blackout") format("svg"); }